* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(82, 129, 170);
}

:root {
  --primary-color: #003580;
  --testimonial-background-color: #faf1f1;
  --tour-bg-color: #f2e5d7;
}

.hospitality-sub-header {
  background-color: var(--primary-color);
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(hero-page-img/hospitality.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.hospitality-sub-header h1 {
  margin-top: 100px;
  color: #fff;
}

section.hospitality {
  margin-top: -50px;
  background-color: var(--tour-bg-color);
}

.hospitality {
  background-color: rgb(255, 255, 255);
  height: 1000px;
}

.hospitality-row {
  background-color: #fff;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  height: 1000px;
}

.hospitality-all-items-row {
  width: 80%;
  margin: auto;
}

.hospitality-col-img {
  width: 100%;
}

.hospitality-col-img img {
  width: 100%;
  object-fit: cover;
  padding-bottom: 30px;
}

.hospitality-col h1 {
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.level-delicious {
  width: 30%;
  height: 20px;
  padding-right: 20px;
  object-fit: cover;
}

.youtube-video {
  width: 130%;
}

.youtube-video iframe {
  width: 507px;
  height: 300px;
}

.hospitality-tph-contact {
  display: flex;
  justify-content: center;
  background-color: #fff;
  height: 200px;
  padding: 0;
}

.hospitality-tph-contact p {
  font-size: 14px;
  color: var(--text-color-p-grey);
}

.hospitality-tph-contact .price {
  font-size: 24px;
  font-weight: 600;
}

.hos-item-btn {
  text-align: center;
  padding-right: 60px;
  padding-top: 26px;
}

.hos-item-btn p {
  padding-bottom: 40px;
}

@media (max-width: 700px) {
  .hospitality-row {
    width: 100%;
  }

  .youtube-video iframe {
    width: 80%;
    height: 300px;
    padding-bottom: 30px;
  }

  .hospitality-sub-header {
    background-color: var(--primary-color);
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
      url(images/her-img-2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
  }
}

@media only screen and (max-width: 550px) {
  .hospitality-sub-header {
    background-color: var(--primary-color);
    height: 70vh;
  }

  .hospitality-sub-header h1 {
    margin-top: 60px;
    color: #fff;
  }

  .testimonial-food {
    margin-bottom: -100px;
  }

  .swiper-backface-hidden .swiper-slide {
    margin-bottom: 200px;
  }

  .hospitality-tph-contact {
    background-color: var(--tour-bg-color);
  }

  .hospitality-sub-header h1 {
    margin-top: 250px;
    color: #fff;
  }
}
